<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Connecting Your App to Storage</title>
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1"
      name="viewport"
    />
    <link rel="stylesheet" type="text/css" href="../static/main.css"/>
  </head>

  <body>
  <div class = "container">
    <div class="header box">UdaciZoo</div>
    <div class="content box">
    </div>
    <div class="footer box">Copyright 2020 Udacious Student</div>
  </div>
  </body>
</html>